/* Padding (inner space) - space within the box */
/* add padding to each sides */
.box1 {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
}

/* Shorthand - adding padding to each side */
/* Clockwise */
/* 1 value = all sides */
/* 2 values = top and bottom/ left and right */
/* 3 values = top/ left and right / bottom */
/* 4 values = top / right / bottom / left */
.box2 {
    padding: 20px 40px 60px 80px
}

/* Margin */
/* add margin to each sides */
.box3 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 40px;
}

/* Shorthand - adding margin to each side */
/* Clockwise */
/* 1 value = all sides */
/* 2 values = top and bottom/ left and right */
/* 3 values = top/ left and right / bottom */
/* 4 values = top / right / bottom / left */
.box4 {
    margin: 20px 30px 40px 50px
}

.mix-borders {
    background-color: aqua;
    height: 100px;
    width: 200px;
    /* Clockwise */
/* 1 value = all sides */
/* 2 values = top and bottom/ left and right */
/* 3 values = top/ left and right / bottom */
/* 4 values = top / right / bottom / left */
    border-style: solid dashed dotted double;
    border-width: 4px 6px 8px 10px;
    border-color: tomato yellow blue green;

}

.circle-container {
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    text-align: center;
    color: orange;
}