.flexContainer {
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;

    align-items: flex-start;
    align-items: center;
    align-items: flex-end;
    align-items: stretch;
    
    flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    
    column-gap: 200px;
    row-gap: 200px;
    gap: 100px;
}

.flexItem1 {
    flex-grow: 1;
    flex-grow: 0;
}

.flexItem2 {
    flex-shrink: 1;
    flex-shrink: 0;
}


